<div class="container mt-3 d-flex justify-content-center mt-5  w-auto">
  <form id="loginForm" class="border border-primary p-5 " method="post" action="/login">
    <div class="mb-3 ">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="text" class="form-control w-auto" id="phoneNumber" aria-describedby="emailHelp" pattern="[6-9]\d{9}"
        title="Please enter a valid indian mobile number" name="phoneNumber" required>

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control w-auto" id="exampleInputPassword1" name="password">
    </div>

      {{#if errorMessage}}
        <p class="text-danger" style="font-weight: 600;">{{errorMessage}}</p>
    {{/if}}

    {{!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input w-auto" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> --}}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>